.horizontal-track {
  overflow: hidden;
  padding-left: 118px;

  &__container {
    transition-duration: 1s;
    width: max-content;
  }

  &__card {
    width: 200px;
    height: 280px;
    background-color: gray;
    display: inline-block;
    margin-right: 20px;

    &--border {
      position: absolute;
      background: transparent;
      height: 275px;
    }

    &--focused {
      border: 5px solid white;
    }
  }

  &__img {
    width: inherit;
    height: inherit;
  }

  &__title {
    color: white;
    font-size: 24px;
  }
}
