@import "../../styles/colors";
@import "../../styles/functions.scss";
@import "../../styles/mixin.scss";

.horizontal-track {
  overflow: hidden;
  padding-left: 118px;

  @include FULL_HD {
    padding-left: calc-FHD(118px);
  }

  &__container {
    transition-duration: 1s;
    width: max-content;
  }

  &__card {
    width: 200px;
    height: 280px;
    background-color: $gray;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;

    @include FULL_HD {
      width: calc-FHD(200px);
      height: calc-FHD(280px);
      margin-right: calc-FHD(20px);
    }

    &--border {
      position: absolute;
      background: transparent;
    }

    &--focused {
      border: 5px solid $white;
    }
  }

  &__img {
    width: inherit;
    height: inherit;
  }

  &__title {
    color: $white;
    font-size: 24px;
    @include FULL_HD {
      font-size: calc-FHD(24px);
    }
  }
}
