@import "../../styles/colors";

.sidebar {
  list-style: none;
  position: fixed;
  background-color: $dark-blue;
  height: 100%;
  width: 14%;
  z-index: 99;
  top: 0;
  border-right: 2px solid $gray;

  &__item {
    color: $white;
    font-size: 24px;
    padding: 16px;

    &--focused {
      background-color:$white;
      color: $black;
    }
  }
}
